* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #dae1ee;

}


p {
    color: #555;
}

/* .body .catagory .small-container .row .col-3:hover {
    transition: 0.5s;
    transform: scale3d(1.5);
} */

.catagory .small-container .row .col-3 .images:hover {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 10px rgb(21, 83, 97);
    transform: scale(1.2);
    transition: 8ms;
    background-color: rgba(26, 239, 11, 0.539);
    z-index: -1;
}

/* <--------------------------------------STYLE2 part--------------------------------------------> */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}



.navbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    /* background-color: #262626; */
    background-color: rgb(31, 193, 199);
    width: 100%;
    z-index: 1000;
  
}

.nav-menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 50px;
}
/* .nav-branding{
    font-size: 2rem;
} */

.nav-link{
    transition: .5s ease;
    border: 1.5px solid transparent;
    padding: 5px;
    border-radius: 5px;
}

.nav-link:hover{
 color: #262626;
 border: 1.5px solid #262626;
 transition: 1s;
 transform: scale3d(1.5);

}

/* <-------------------------------------------end--------------------------------------> */




.catagory {
    margin-top: 40px;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 20px; */
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

/**************************************************************************************************************************. */
.header .row .col-2 img {
    max-width: 100%;
    /* padding: 50px 0; */
    width: 450px;
    height: 500px;
    transition: .5s;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}



.header .row .col-2 img:hover {
    transform: translateX(5rem);
}

@media only screen and (max-width: 650px) {
    .header .row .col-2 img:hover {
        transform: translateY(2.5rem);
    }
}

.offer .small-container .col-2 img {
    max-width: 100%;
    width: 60vh;
    height: 70vh;
}

@media screen and (max-width:660px) {
    .offer .small-container .col-2 img {
        width: 50vh;
        height: 60vh;
    }
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #C0E3A9;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: ease 0.3s;
    border: 1px solid black;
}

.btn:hover {
    background-color: #82DD46;
    border: 2px solid black;
    transform: translateX(5%);
    /* transform: translateY(5%); */
    /* transform: scale3d(50%); */
}

.header {
    background-image: linear-gradient(to right top, #2e4972, #566b8f, #7e8fac, #a7b4cb, #d2dbea);
}


@media screen and (max-width:650px) {

    #main-heading {
        margin-top: 100px;
    }
}


.catagary{
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    
}
#tan1 {
    /* justify-content: center; */
    color: #000;
    text-shadow: rgb(31, 193, 199);
    text-align: center;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
    border: 5px black;
    border-radius: 10%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.4s;
    border: 2px solid #555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-4:hover, .col-5:hover {
    border: 1px solid black;
    transform: scale(1.1);
}


.col-4 img, .col-5 img {
    width: 100%;
}

.small-container h2, .latest-product h2 {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.small-container h2::after, .latest-product h2::after {
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.small-container h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p, .col-5 {
    font-size: 14px;

}

.rating img {
    color: #82DD46;
}



.col-5 {
    flex-basis: 16%;
    padding: 6px;
    min-width: 200px;
    margin-bottom: 30px;
    transition: transform 0.3s;
    border: 2px solid #555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.offer {
    background-image: linear-gradient(to right top, #466087, #687d9f, #8b9bb7, #aebbd1, #d2dbea);
    margin-top: 80px;
    padding: 30px 0;
}

.offer img {
    color: #555;
}

.offer-img {
    padding: 50px;
}



.testomonial {
    padding-top: 100px;
}

.testomonial .small-container .testomonial-header {
    margin-bottom: 4rem;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 20px #000,
        -2px 1px 30px #000;
}




.testomonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    cursor: pointer;
    transition: transform 0.5s;
}

.testomonial .col-3 img {
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}

.testomonial .col-3:hover {
    transform: translateY(-15px);
    /* transform: scale3d(1.2); */
}

.col-3 p {
    font-size: 14px;
    font-weight: 500;
    margin: 25px 0;
    color: #777;
}

.col-3 p span {
    color: rgb(31, 193, 199);

}

.testomonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Brands */

.brands {
    margin: 100px auto;
}

.col-51 {
    width: 160px;
    border: none;
}

.col-51 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(75%);
    transition: .5s;
}

.col-51 img:hover {
    filter: grayscale(0);
    transform: scale(1.25);
}

/* Footer */

.footer {
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;

}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 100px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;

}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;

}

.app-logo img {
    width: 3rem;
    margin-left: 1rem;
    cursor: pointer;
}

.footer hr {
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    color: gold !important;
}


/* Media qurey  */

@media only screen and (max-width:800px) {}


/* Addition img resize */

.fa-cart-arrow-down {
    font-size: 30px;
    color: #555;
    cursor: pointer;
}

.fa-cart-arrow-down:hover {
    color: black;
}